* {
  box-sizing: border-box;
}

body {
	margin: auto;
    background: url("https://github.com/menelik7/menelik7.github.io/raw/master/assets/images/concrete_seamless.png");
    overflow-y: scroll;
}

/**header begins**/

header {
    background: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 2px solid #cccccc;
    height: 5.6em;
}

#header-content {
	position: relative;
	width: 960px;
	margin: auto;
	height: 100%;
}

h1 {
	position: absolute;
	left: 14.5%;
    color: #ffffff;
    background: #4aaaa5;
    padding: 1.94%;
    margin: auto;
}

#tabs {
	float: right;
	padding: 3.62% 0 3.62% 0;
	margin: auto;
	width: 27%;
}

#Contact,
#Portfolio,
#About {
	float: left;
	font-family: sans-serif;
	color: #777777;
	margin: auto;
}

#About {
	padding-right: 8%;
}

#Portfolio {
	padding: 0 8% 0 8%;
	border-left: 1px outset #cccccc;
}

#Contact {
	padding-left: 8%;
	border-left: 1px outset #cccccc;
}

a {
    color: #777777;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #4aaaa5;
    text-decoration: none;
}

/*****header ends*****/


/**Index.html begins**/

.container {
    max-width: 960px;
    margin: auto;
}

#portfolio,
#contact,
#about,
#connect,
#bio-image {
    float: left;
}

#about {
	border: 1px solid #dddddd;
	margin: 4% auto 15%;
	padding: 2% 3%;
	width: 67.71%;
    background: #ffffff;
}

h2 {
	font-size: 2em;
	color: #4aaaa5;
	border-bottom: 2px solid #cccccc;
	margin: auto;
	padding-bottom: 20px;
}

#bio-image  {
	margin: 4% 4% 4% 0;
}

p {
	color: #777777;
	font-size: 16px;
	font-family: sans-serif;
	line-height: 150%;

}

#connect {
	text-align: center;
	margin: 4% 0 0 4%;
	padding: 20px 25px;
	width: 270px;
	border: 1px solid #dddddd;
	background: #ffffff;
}

h3 {
	color: #4aaaa5;
	font-size: 1.6em;
	border-bottom: 2px solid #cccccc;
	margin: auto;
	padding-bottom: 8%;
}

#image-left,
#image-center,
#image-right {
    width: 60px;
    height: 60px;
    margin-top: 10%;
}

#image-left {
    float: left;
}

#image-right {
    float: right;
}

/**Index.html ends**/


/**Portfolio.html begins**/

#portfolio {
	border: 1px solid #dddddd;
	margin: 4% auto 15%;
	padding: 2% 3%;
	width: 67.71%;
    background: #ffffff;
}

#SS12thS,
#CFHOF,
#NWAL,
#STP {
	float: left;
	position: relative;
	margin-top: 4%;
}

#CFHOF,
#STP {
	margin-left: 5%;
}

h4 {
	text-align: center;
    color: #ffffff;
    background: #4aaaa5;
    font-size: 1.2em;
    position: absolute;
    top: 76%;
    width: 100%;
    margin: auto;
    padding: 3%;
}

#portfolio-image1,
#portfolio-image3,
#portfolio-image2,
#portfolio-image4 {
    width: 280px;
    height: 200px;
}

/**Portfolio.html ends**/


/**Contact.html begins**/

#contact {
	float: left;
	border: 1px solid #dddddd;
	margin: 4% auto 15%;
	padding: 2% 3%;
	width: 67.71%;
    background: #ffffff;
}

form {
	margin-top: 5%;
}

input[type=text], select, textarea {
    width: 100%;
    padding-top: 3%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 1.5%;
    margin-bottom: 3%;
    resize: vertical;
}

label {
	font-family: sans-serif;
	color: #777777;
}

input[type=submit] {
    background-color: #4aaaa5;
    font-size: 1.2em;
    color: white;
    padding: 1% 3%;
    border: none;
}

input[type=submit]:hover {
	background: #777777;
}

/**Contact.html begins**/


/**footer begins**/

footer {
	background: #666666;
	clear: both;
	border-top: .5em solid #4aaaa5;
	height: 5.6em;
	position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;
}

.copyright {
	text-align: center;
	font-size: .8em;
	font-family: sans-serif;
	color: lightgrey;
	margin: 2.3%;
}

/**footer ends**/

